.continually{
    background-image:url(https://t4.ftcdn.net/jpg/02/14/31/63/360_F_214316329_vX8WM2z1DLYfzcyRxqOenc9SJV7gXOyJ.jpg);
    background-repeat: no-repeat;
    height:700px;
    background-size:1550px;
}
h1{
    margin-top:60px;
    margin-left:500px;
    color:yellow;
    font-size:90px;
}
button{
    margin-top:60px;
    margin-left:250px;
    width:400px;
    height:60px;
    font-size:30px;
}
