<div class="continually">
    <div class="row">
        <div class="col"><h1>Welcome back</h1></div>
    </div> 
        <div class="tab">
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-secondary" id="addstudent" (click)="addstudent()">Add student</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-secondary" id="addstudent">Student list</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-secondary" id="addstudent">Notifications</button>
                </div>
            </div>
        </div>
   
</div>
