.continually{
    background-image:url(https://t3.ftcdn.net/jpg/04/45/93/90/360_F_445939048_eVX3dTGgZAiotExm7rAhIqlbC7Z9gYtn.jpg);
    background-size:1550px;
    height:720px;
}
/*.tab{
    background-color:rgba(70, 69, 69, 0.661);
    height:800px;
    width:600px;
    margin-left:400px;
    margin-top:100px;
}*/
h3{
    margin-top:30px;
    margin-left:100px;
}
#name{
    margin-left:10px;
    margin-top:50px;
}
#standard{
    margin-left:10px;
    margin-top:60px;
}
#section{
    margin-left:10px;
    margin-top:60px;
}
#phone{
    margin-left:10px;
    margin-top:60px;
}
#address{
    margin-left:10px;
    margin-top:60px;
}
#mail{
    margin-left:10px;
    margin-top:60px;
}
#password{
    margin-left:10px;
    margin-top:60px;
}
#submit{
    margin-left:320px;
    margin-top:40px;
}
#clear{
    margin-left:80px;
    margin-top:40px;
}